@media screen {
	/************************************************************************
    * Base Styles
    *************************************************************************/
	* {
		font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding: 0px;
		margin: 0;
		border: 0px;
		/*float:left;*/
		color: #000;
		text-decoration:none;
	}
	body {
		background: #fff;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-attachment: fixed;
	}
	.clear {
		clear: both;
	}
	/************************************************************************
    * openMessage Styles
    *************************************************************************/
	.messaging-button {
		 padding:4px 10px 3px 25px;
		 border:solid 1px #8AB134;
		 position:relative;
		 cursor:pointer;
		 display:inline-block;
		 background-image:url('/share/images/icons/openMessage/bg.png');
		 background-repeat:repeat-x;
		 font-size:11px;
		 height:16px;
		 min-width:100px;
		 text-decoration:none;
		 color:#40740D;
		 -moz-border-radius-bottomleft:5px;
		 -moz-border-radius-bottomright:5px;
		 -moz-border-radius-topleft:5px;
		 -moz-border-radius-topright:5px;
	}
	.messaging-button img {
		 position:absolute;
		 top:-4px;
		 left:-12px;
		 border:none;
	}
	.messaging-button:hover {
		 color:#8AB134;
	} 
	
	/************************************************************************
    * openHTML_Body_Image Styles (imagezoomAddon)
    *************************************************************************/
	#imagezoom_overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9999996;
	}

	.imagezoom {
		background-color: #fff;
		border: 1px solid #585858;
		margin: -5px;
		padding: 4px;
		z-index: 9999997;
	}
	
	.imagezoom .loading {
		width: 32px;
		height: 32px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
	}
	
	.imagezoom .image {
		position: relative;
		z-index: 25;
		display: block;
	}
	
	.imagezoom .close {
		width: 30px;
		height: 30px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/closebox.png) !important;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/closebox.gif);
		background-position: top left;
		background-repeat: no-repeat;
		background-color: transparent;
		cursor: pointer;
		position: absolute;
		top: -15px;
		right: -15px;
		z-index: 30;
	}
	
	.imagezoom .close span {
		display: none;
	}
	
	.imagezoom .caption {
		margin: 0px 0px;
		margin-top: -30px;
		color: #fff;
		font-size: 12px;
		text-align: center;
		height: 30px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/caption.png);
		background-repeat: repeat-x;
		background-color: transparent;
		background-position: bottom left;
		position: relative;
		z-index: 30;
	}
	
	.imagezoom .caption p {
		margin: 0px;
		line-height: 22px;
		height: 30px;
		vertical-align: middle;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	
	.imagezoom .caption .previous, .imagezoom .caption .next {
		display: block;
		width: 22px;
		height: 22px;
		position: absolute;
		top: 50%;
		margin-top: -11px;
		left: 18px;
		cursor: pointer;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/prev.png) !important;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/prev.gif);
	}
	
	.imagezoom .caption .next {
		left: auto;
		right: 18px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/next.png) !important;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/next.gif);
	}
	
	/** Shadows **/
	
	.imagezoom .s_tl, .imagezoom .s_tr, .imagezoom .s_bl, .imagezoom .s_br {
		width: 13px;
		height: 18px;
		position: absolute;
		background-repeat: no-repeat;
		background-color: transparent;
	}
	
	.imagezoom .s_tl {
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_tl.png) !important;
		background-image: none;
		background-position: top left;
		top: -19px;
		left: -14px;
	}
	
	.imagezoom .s_tr {
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_tr.png) !important;
		background-image: none;
		background-position: top right;
		top: -19px;
		right: -14px;
	}
	
	.imagezoom .s_bl {
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_bl.png) !important;
		background-image: none;
		background-position: bottom left;
		bottom: -19px;
		left: -14px;
	}
	
	.imagezoom .s_br {
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_br.png) !important;
		background-image: none;
		background-position: bottom right;
		bottom: -19px;
		right: -14px;
	}
	
	.imagezoom .s_top, .imagezoom .s_bottom {
		width: 100%;
		height: 18px;
		background-color: transparent;
		background-repeat: repeat-x;
		position: absolute;
		left: -1px;
	}
	
	.imagezoom .s_top {
		top: -18px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_top.png) !important;
		background-image: none;
		background-position: top left;
	}

	.imagezoom .s_bottom {
		bottom: -18px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_bottom.png) !important;
		background-image: none;
		background-position: bottom left;
	}
	
	.imagezoom .s_left, .imagezoom .s_right {
		width: 13px;
		height: 100%;
		background-color: transparent;
		background-repeat: repeat-y;
		position: absolute;
		top: -1px;
	}
	
	.imagezoom .s_left {
		left: -13px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_left.png) !important;
		background-image: none;
		background-position: top left;		
	}
	
	.imagezoom .s_right {
		right: -13px;
		background-image: url(/share/images/icons/openHTML/openHTML_Body_Image/shadow_right.png) !important;
		background-image: none;
		background-position: top right;		
	}
	
	/************************************************************************
    * openUI Styles
    *************************************************************************/
	.popup {
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 5000;
		text-align: center;
		vertical-align: middle;
	}
	.popup div {
		margin: auto;
	}
	/*
    MooFlow
    */
	.mf {
		visibility: hidden;
		z-index: 1;
		color: #fff;
		font-size: 14px
	}
	.mf * {
		outline: none;
		border: none;
		padding: 0;
		margin: 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		-o-user-select: none
	}
	.mf div.loader {
		position: absolute;
		text-align: center;
		z-index: 10000;
		margin: 0 auto;
		top: 45%;
		width: 100%;
		background: url(/share/images/icons/openUI/ajax-loader.gif) no-repeat
			50% 0;
		padding: 50px 0;
	}
	.mf div.caption {
		position: absolute;
		text-align: center;
		z-index: 98;
		font-weight: bold;
		margin: 1em auto;
		bottom: 50px;
		width: 100%;
	}
	.mf div.mfNav {
		position: absolute;
		z-index: 99;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		bottom: 20px;
		font-size: 1px;
		line-height: 1px;
		width: 100%;
	}
	.mf div.autoPlayCon {
		float: left;
		width: 10%;
		padding-left: 3%;
		height: 24px;
	}
	.mf a.play,.mf a.stop {
		width: 27px;
		height: 24px;
		float: left;
		cursor: pointer;
	}
	.mf a.play {
		background: url(/share/images/icons/openUI/play.gif) no-repeat;
	}
	.mf a.stop {
		background: url(/share/images/icons/openUI/stop.gif) no-repeat;
	}
	.mf div.sliderCon {
		margin-top: 5px;
		float: left;
		width: 74%;
	}
	.mf a.sliderNext {
		background: url(/share/images/icons/openUI/left.gif) no-repeat;
	}
	.mf a.sliderPrev {
		background: url(/share/images/icons/openUI/right.gif) no-repeat;
	}
	.mf a.sliderNext,a.sliderPrev {
		text-decoration: none;
		width: 25px;
		height: 16px;
		cursor: pointer;
		float: left;
	}
	.mf div.resizeCon {
		float: right;
		width: 10%;
		padding-right: 3%;
		height: 24px;
	}
	.mf a.resize {
		width: 34px;
		height: 24px;
		float: right;
		cursor: pointer;
		background: url(skin/resize.gif) no-repeat;
	}
	.mf div.slider {
		background: url(/share/images/icons/openUI/middle.gif) repeat-x;
		height: 16px;
		position: relative;
		text-align: left;
		float: left;
	}
	.mf div.knob {
		height: 16px;
		background: url(/share/images/icons/openUI/middle-slider.gif) repeat-x
			right center;
	}
	.mf div.knobleft {
		background: url(/share/images/icons/openUI/left-slider.gif) repeat-x
			center;
		width: 8px;
		height: 16px;
	}
	/*
    * NotiMoo
    */
	.notimoo {
		position: absolute;
		z-index: 999;
		cursor: pointer;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 10px;
		border: 3px;
		border-style: solid;
		border-color: #B2B2B2;
		background: #333;
		color: #FFF;
	}
	.notimoo .title {
		color: #fff;
		font-weight: bold;
		border-bottom: 1px solid;
	}
	.notimoo .message {
		color: #fff;
		margin-top: 2px;
	}
	.notimoo a {
		color: #FFF;
	}
	/*
     * MooWheel
     */
	.loading {
		background: url('/share/images/icons/openUI/ajax-loader.gif') center
			center no-repeat;
	}
	.magicwheel {
		position: absolute;
	}
	.tip {
		position: absolute;
		visibility: hidden;
		top: 0;
		left: 0;
		background: url('/share/images/icons/openUI/arrow.png') bottom center
			no-repeat;
		z-index: 1000;
		padding-bottom: 6px;
	}
	.tip span {
		padding: 1px 10px;
		background: black;
		color: #fff;
		font-weight: bold;
	}
	.magicwheel .icon,.magicwheel .ref {
		position: absolute;
		border: none;
		visibility: hidden;
	}
	/*
		Settings CSS
	*/
	.box {
		position: absolute;
		color: #666;
		margin: 10px;
		padding: 0px 7px 5px 7px;
		background: #f1f1f1;
		width: 280px;
		z-index: 1000;
	}
	.slider {
		background: #D8D8D8;
		height: 10px;
		margin-bottom: 7px;
		cursor: pointer;
	}
	.knob {
		background: #666;
		width: 20px;
		height: 10px;
		cursor: pointer;
	}
	.uiKwick {
		border: 1px solid black;
	}
	.uiKwick .kwicks {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background: red;
	}
	.uiKwick li {
		float: left;
	}
	.uiKwick .kwick {
		display: block;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid red;
	}
	.uiKwick .kwick span {
		display: none;
	}
	/* tooltip design */
	.ToolTips {
		display: block;
		position: absolute;
		width: 404px;
	}
	.ToolTips .sticky_close {
		display: block;
		position: absolute;
		top: 1px;
		right: 3px;
		background: url(/share/images/icons/openUI/fileclose.png);
		width: 16px;
		height: 16px;
		line-height: 16px;
		font-size: 0px;
		z-index: 100000000;
	}
	.ToolTips .message {
		display: block;
		position: relative;
		background: url(/share/images/icons/openUI/tip_body.png) repeat-y;
		padding: 0px 10px;
	}
	/* here we do a little switch. If the tooltip is positioned above the element hovered, it changes the classes on the header/footer divs in order to point at the element hovered */
	.ToolTips .dockBottomHeader,.ToolTips .dockTopFooter {
		display: block;
		position: relative;
		background: url(/share/images/icons/openUI/dockBottomHeader.png)
			no-repeat bottom;
		height: 33px;
	}
	.ToolTips .dockTopFooter {
		background: url(/share/images/icons/openUI/dockTopFooter.png) no-repeat
			bottom;
		height: 38px;
	}
	.ToolTips .dockBottomFooter,.ToolTips .dockTopHeader {
		display: block;
		position: relative;
		background: url(/share/images/icons/openUI/dockBottomFooter.png);
		height: 14px;
		line-height: 11px;
		font-size: 0px;
		clear: both;
	}
	/* this one has more height to display the close button in case sticky tooltips are on */
	.ToolTips .dockTopHeader {
		background: url(/share/images/icons/openUI/dockTopHeader.png) bottom
			center no-repeat;
		height: 20px;
		line-height: 20px;
		font-size: 0px;
	}
	* html .ToolTips .dockBottomHeader {
		background: none;
		filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
			'/share/images/icons/openUI/dockBottomHeader.png' );
	}
	* html .ToolTips .dockBottomFooter {
		background: none;
		filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
			'/share/images/icons/openUI/dockBottomFooter.png' );
	}
	* html .ToolTips .dockTopHeader {
		background: none;
		filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
			'/share/images/icons/openUI/dockTopHeader.png' );
	}
	* html .ToolTips .dockTopFooter {
		background: none;
		filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
			'/share/images/icons/openUI/dockTopFooter.png' );
	}
	* html .ToolTips .sticky_close {
		background: none;
		filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
			'/share/images/icons/openUI/fileclose.png' );
	}
	/* this is just a div displaying the loading animated .gif */
	.loading {
		display: block;
		margin: 0px auto 0px;
		background: url(/share/images/icons/openUI/ajax-loader.gif) center
			center no-repeat;
		width: 31px;
		height: 50px;
	}
	/* tip container */
	.tipContainer {
		display: none;
	}
	/* beautify the tooltip content */
	.ToolTips .message {
		font-size: 12px;
		text-align: justify;
	}
	.ToolTips .message h3 {
		font-size: 16px;
		margin: 0px 0px 10px;
		padding: 0px;
		color: #FF6600;
	}
	.ToolTips .message .rights {
		display: block;
		clear: both;
		margin: 15px 0px 0px;
		text-align: right;
		font-size: 11px;
		color: #666666;
	}
	
	/*
	openMicroblog
	*/
	p.openMicroblog_entry {
		border:1px solid #000;
	}
	p.openMicroblog_title {
		background:#6fcae9;
		color:#fff;
		padding:2px;
		font-weight:bold;
	}
	/* forms */
	input, textarea, select {
		border:1px solid #000;
	}
	
	.openHTML_Body_Form_Element label {

	}
	.openHTML_Body_Form_Element input,textarea,select {
		border:1px solid #000;
		-moz-border-radius: 4px;
		clear:left;
		width:99%;
	}



/***********************************************************************************************************************
* DatePicker
*/	
	/* datepicker default style */
	  /***************/
	 /* vlaCalendar */
	/***************/
	
	/* Picker */
	
	.vlaCalendarPicker {
		position: absolute;
		z-index: 999;
		
		margin-top: -5px;
		margin-left: -2px;
		
		display: none;
	}
	
	.vlaCalendarPicker .pickerBackground {
		background: transparent url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/calendar_background.png') no-repeat top center;
		padding: 16px;
		height: 130px;
		width: 166px;
		overflow: hidden;
	}
	
	/* Background for IE6 - code does not validate as it is a hack */
	* html .vlaCalendarPicker .pickerBackground {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/calendar_background.gif');
	}
	
	/* Main calendar */
	
	.vlaCalendar, .vlaCalendar table {
		font-family: calibri, arial !important;
		color: black;
		font-size: 12px !important;
	}
	
	.vlaCalendar {
		display: block;
		width: 164px;
	}
	.vlaCalendar .container, .vlaCalendar .container div {
		width: 164px;
		height: 130px;
		text-align: left;
		position: absolute;
		overflow: hidden;
	}
	
	.vlaCalendar span.indication {
		display: block;
		text-align: center;
	}
	
	.vlaCalendar table {
		margin-top: 8px;
		text-align: right;
		border-collapse: collapse;
		background-color: white; /* <- IE ugly text in transition fix  */
	}
	
	.vlaCalendar .picker td {
		cursor: pointer;
	}
	
	/* Label & arrows */
	
	.vlaCalendar .label:hover {
		color: #0066cc;
		cursor: pointer;
	}
	.vlaCalendar .noHover:hover {
		color: black;
		cursor: default;
	}
	
	.vlaCalendar .arrowLeft, .vlaCalendar .arrowRight {
		background: transparent url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/arrowleft.gif') no-repeat center;
		height: 12px;
		width: 10px;
		cursor: pointer;
	}
	.vlaCalendar .arrowLeft {
		margin-left: 5px;
		float: left;
	}
	.vlaCalendar .arrowLeft:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/arrowleft_hover.gif');
	}
	.vlaCalendar .arrowRight {
		margin-right: 5px;
		float: right;
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/arrowright.gif');
	}
	.vlaCalendar .arrowRight:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/arrowright_hover.gif');
	}
	
	/* Month */
	
	.vlaCalendar .month th {
		text-align: center;
		font-weight: normal;
		width: 24px;
		padding-bottom: 1px;
		border-bottom: 1px solid #f5f5f5;
	}
	
	.vlaCalendar .month td {
		padding-right: 3px;
		height: 15px;
	}
	
	.vlaCalendar .month tr.firstRow td {
		padding-top: 2px;
	}
	
	.vlaCalendar .month td:hover {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/day_hover.gif') bottom no-repeat;
		color: #0066cc;
	}
	
	.vlaCalendar .month td.selected {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/day_selected.gif') bottom no-repeat;
		color: #0066cc;
	}
	.vlaCalendar .month td.selected:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/day_selected_hover.gif');
	}
	
	.vlaCalendar .month td.outsideDay {
		color: #a8a8a8;
	}
	.vlaCalendar .month td.outsideDay:hover {
		color: #b1c5fc;
	}
	
	/* Year & decade */
	
	.vlaCalendar .year {
		margin-left: 2px;
	}
	
	.vlaCalendar .year td {
		width: 40px;
		height: 35px;
		text-align: center;
		cursor: pointer;
	}
	.vlaCalendar .year td:hover {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_hover.gif') center no-repeat;
		color: #0066cc;
	}
	
	.vlaCalendar .year td.selected {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_selected.gif') center no-repeat;
	}
	.vlaCalendar .year td.selected:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_selected_hover.gif');
	}
	
	.vlaCalendar .year td.current {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_current.gif') center no-repeat;
		color: #0066cc;
	}
	.vlaCalendar .year td.current:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_current_hover.gif');
	}
	
	.vlaCalendar .year td.selectedcurrent {
		background: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_selectedcurrent.gif') center no-repeat;
	}
	.vlaCalendar .year td.selectedcurrent:hover {
		background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/default/month_selectedcurrent_hover.gif');
	}
	
	.vlaCalendar .year td.outsideYear {
		color: #a8a8a8;
	}
	.vlaCalendar .year td.outsideYear:hover {
		color: #b1c5fc;
	}
	
	
	
	
	
	
	
	  /*************************/
 /* vlaCalendar Adobe CS3 */
/*************************/

/* Picker */

.adobe_cs3 .pickerBackground {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/calendar_background.gif') !important;
	padding-top: 26px;
	height: 140px;
}

/* Calender */

.adobe_cs3 .arrowLeft:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/arrowleft_hover.gif');
}
.adobe_cs3 .arrowRight:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/arrowright_hover.gif');
}

.adobe_cs3 .label:hover {
	color: #939393;
}

/* Month */

.adobe_cs3 .month td:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/day_hover.gif');
	color: #515151;
}

.adobe_cs3 .month td.selected {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/day_selected.gif');
	color: #939393;
}
.adobe_cs3 .month td.selected:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/day_selected_hover.gif');
}

.adobe_cs3 .month td.outsideDay:hover {
	color: #939393;
}

/* Year & decade */

.adobe_cs3 .year td:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_hover.gif');
	color: #515151;
}
.adobe_cs3 .year td.selected:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_selected_hover.gif');
}
.adobe_cs3 .year td.current {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_current.gif');
	color: #939393;
}
.adobe_cs3 .year td.current:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_current_hover.gif');
}

.adobe_cs3 .year td.selectedcurrent {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_selectedcurrent.gif');
}
.adobe_cs3 .year td.selectedcurrent:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/adobe_cs3/adobe_cs3/month_selectedcurrent_hover.gif');
}

.adobe_cs3 .year td.outsideYear:hover {
	color: #939393;
}
	
	
	
	
	
	
	


  /****************************/
 /* vlaCalendar apple_widget */
/****************************/

/* Picker */

.apple_widget .pickerBackground {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/calendar_background.png');
}
/* Background for IE6 - code does not validate as it is a hack */
* html .apple_widget .pickerBackground {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/calendar_background.gif');
}

/* Calender */

.apple_widget, .apple_widget table {
	font-family: "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, Sans Serif;
	font-size: 11px;
}
.apple_widget table {
	color: white;
	background-color: black;
}

.apple_widget .arrowLeft {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/arrowleft.gif');
}
.apple_widget .arrowRight {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/arrowright.gif');
}
.apple_widget .arrowLeft:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/arrowleft_hover.gif');
}
.apple_widget .arrowRight:hover {
	background-image: url('/share/images/icons/openHTML/openHTML_Body_Form/date/apple_widget/apple_widget/arrowright_hover.gif');
}

.apple_widget .label {
	color: #ccff00 
}
.apple_widget .noHover:hover {
	color: #ccff00 !important;
}
.apple_widget .label:hover {
	color: white;
}

.apple_widget .month th {
	border-bottom-color: black;
	color: #999;
	text-transform: uppercase;
}

/* Month */

.apple_widget .month td:hover {
	color: #ccff00;
}

.apple_widget .month td.selected {
	color: #ccff00;
}

.apple_widget .month td.outsideDay, .apple_widget .year td.outsideYear {
	color: #313131;
}
.apple_widget .month td.outsideDay:hover, .apple_widget .year td.outsideYear:hover {
	color: #999;
}

/* Year & decade */

.apple_widget .year td:hover {
	color: #ccff00;
}
.apple_widget .year td.current {
	color: white;
}

.apple_widget .year td.current:hover, .apple_widget .year td.selectedcurrent, .apple_widget .year td.selectedcurrent:hover,
	.apple_widget .year td.selected:hover, .apple_widget .month td.selected:hover, .apple_widget .year td.current, .apple_widget .year td:hover,
	.apple_widget .month td.selected, .apple_widget .month td:hover, .apple_widget .year td.selected {
	background: none;
}	
	
	
/*
open_HTML_Table
*/
table {
	margin:0;
	padding:0;
	border-spacing:0px;
}

tr.odd {
	background:#ededed;
}	
tr.even {
	background:#fff;
}

tr.highlite {
	background:#b7c396;
}	
tr.pager {
	text-align:center;
	
}
	
	
	
}

@media print {
	* {
		font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding: 0px;
		margin: 0;
		border: 0px;
		float: left;
		background: #ffffff;
		color: #000000;
	}
}