@font-face { 
	font-family: openWebX;
	src: url(/share/fonts/default.ttf);
}


@media screen {
	* {
		
		font-family: openWebX;
		font-size: 22px;
	}
	div {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.content {
		overflow:hidden;
		opacity:0.95;
	}
	.fade_top {
		background: url(/share/images/styles/fade_top.png) repeat-x;
		height:22px;
		-webkit-border-radius-bottomleft: 0px;
		-webkit-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 0px;
	}
	.fade_bottom {
		background: url(/share/images/styles/fade_bottom.png) repeat-x;
		height:22px;
		-webkit-border-radius-topleft: 0px;
		-webkit-border-radius-topright: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
	}
}

@media print {
	* {
		font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding: 0px;
		margin: 0;
		border: 0px;
		float: left;
		background: #ffffff;
		color: #000000;
	}
}