body {
	/*background: #2f2f2f url(/share/images/patterns/1.png) top right no-repeat;*/
	height:100%;
	width:100%;
}

div#feeds {
	position:absolute;
	bottom:0;
	right:0;
}

#divContent {
	background: white;
	width:600px;
	height:600px;
	z-index:100;
	margin:auto;
}